:host {
  position: relative;
  display: block;
}

#cards-container {
  display: block;
  column-count: 3;
  padding: 10px;

  opacity: 1;
  filter: grayscale(0);

  transition: opacity 0.2s ease-in-out, filter 0.2s ease-in-out;
}

#cards-container.active {
  opacity: 0.2;
  filter: grayscale(100%);
}

.card-container {
  position: relative;
  box-sizing: border-box;
  margin: 0 0 15px 0;
}

#active-card-container {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  top: 50%;
  left: 0;
  height: 80vh;
  padding: 0 20px;
  width: 100%;
  
  transform: translateY(-50%);

  font-size: 0;
}

#active-card-container > .card {
  position: relative;
}

#active-card-container > .card img {
  max-width: 100%;
  max-height: 75vh;
}

#active-card-container > .card .close-btn {
  position: absolute;
  top: -20px;
  right: -20px;

  background-color: #FF5722;
}

.card-container > .card {
  overflow: hidden;
  backface-visibility: hidden;

  transition: transform 0.2s ease-in;
}

.picture-container {
  transform: rotateY(0deg);

  font-size: 0;
}

.picture-container img {
  width: 100%;
}

.info-container {
  position: absolute;
  box-sizing: border-box;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px 20px;
  transform: rotateY(180deg);

  background-color: #ffffff;
}

.card-container:nth-child(odd) .info-container {
  background-color: #000000;
}

.card-container:nth-child(odd) .info-container h2,
.card-container:nth-child(odd) .info-container p {
  color: #ffffff;
}

@media (max-width: 840px) {
  #cards-container {
    column-count: 2;
  }
}

@media (max-width: 480px) {
  #cards-container {
    column-count: 1;
  }
}

@media (min-width: 481px) {
  .card-container:hover .picture-container {
    transform: rotateY(180deg);
  }

  .card-container:hover .info-container {
    transform: rotateY(0deg);
  }
}
