@import "variables";



:host {
  position: relative;
  display: inline-block;
  margin: 0 4px;
  padding: 0 4px;

  background-color: $background-color;

  &[header] {
    margin: 0 8px;

    @media (max-width: $drawer-breakpoint) {
      z-index: 110;
      margin: 0 4px;
    }


    #link {
      font-size: 1.5em;
      font-weight: 400;
      text-transform: uppercase;
    }
  }

  &:not([header]) {
    @media (max-width: $drawer-breakpoint) {
      margin: 4px;

      background: none;

      font-size: 16pt;
    }
  }
}


#link {
  display: block;

  color: $text-color;
  fill: $text-color;

  font-weight: 100;
  text-transform: lowercase;
  letter-spacing: 2px;
  text-decoration: none;

  &.active {
    color: $text-active-color;
  }

  @media (max-width: $drawer-breakpoint) {
    color: $drawer-text-color;
    fill: $drawer-text-color;
  }
}
