@import "variables";



:host {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 10px;


  > .card-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    background-color: #ffffff;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);


    /deep/ swm-card-header {
      position: relative;
      flex: 0 0 40%;
    }
  }

  &.thin-shadow > .card-content {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }

  &.light-shadow > .card-content {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  } 
  &.heavy-shadow > .card-content {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  &.black-shadow > .card-content {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  }

  &.hover > .card-content {
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }

  &.hover:hover > .card-content {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
}
