// dimensions
$content-width: 968px;


// colors
$primary-color: #ff5722;
$background-color: #efefef;
$border-color: #dddddd;
$text-color: #000000;
$text-subtle-color: #777777;
$text-active-color: $primary-color;

$section-header-background-color: #666666;

$footer-background-color: #dadada;
$footer-border-color: $primary-color;

$drawer-background-color: #333333;
$drawer-text-color: #ffffff;

$button-background-color: #ffffff;
$button-text-color: #2196F3;

$fab-background-color: $primary-color;
$fab-text-color: #ffffff;

$commit-background-color: #ffffff;
$commit-alt-background-color: #f0f7ff;
