:host {
  position: relative;
  display: block;
  box-sizing: border-box;
  padding: 0 15px;

  text-align: right;
}

:host /deep/ a,
:host /deep/ button {
  display: inline-block;
  padding: 14px;
  border: none;

  background: none;

  color: #2196F3;
  font-size: 12pt;
  font-weight: 200;
  text-decoration: none;
  text-transform: uppercase;

  cursor: pointer;
}
