@import "variables";



:host {
  position: relative;
  display: block;
  box-sizing: border-box;
  padding: 0 15px;

  text-align: right;


  /deep/ a,
  /deep/ button {
    display: inline-block;
    padding: 14px;
    border: none;

    background: none;

    color: $button-text-color;
    font-size: 12pt;
    font-weight: 200;
    text-decoration: none;
    text-transform: uppercase;

    cursor: pointer;
  }
}
