@import "variables";



:host {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-height: 100vh;
}

#header {
  width: 100%;
  max-width: $content-width;
  margin: 20px auto;
}

#main {
  flex: 1;
  box-sizing: border-box;
  max-width: $content-width;
  margin: auto;
  padding: 0 20px;
}

#footer {
  box-sizing: border-box;
  margin: 20px 0 0 0;
  padding: 20px;
  border-style: solid;
  border-width: 6px 0 0 0;
  border-color: $footer-border-color;

  background-color: $footer-background-color;
  font-size: 10pt;

  > .content {
    max-width: $content-width;
    margin: auto;
  }
}
