:host {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  max-width: 968px;
  min-height: 100vh;
}

#header {
  margin: 20px;
}

#main {
  flex: 1;
  box-sizing: border-box;
  padding: 0 20px;
}

#footer {
  margin: 20px 0 0 0;
  padding: 20px;
  border-style: solid;
  border-width: 6px 0 0 0;
  border-color: #FF5722;

  background-color: #dadada;
  font-size: 10pt;
}
