@import "variables";



:host {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 18px 0;
  padding: 0 10px;

  @media (max-width: $drawer-breakpoint) {
    padding: 0;


    &.open #links-container {
      left: 0;
    }
  }
}


#header {
  display: flex;
  flex-direction: row;
  align-items: center;


  @media (max-width: $drawer-breakpoint) {
    position: relative;
    width: 100%;
    padding: 0 8px;
  }
}


#links-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;

  @media (max-width: $drawer-breakpoint) {
    position: fixed;
    box-sizing: border-box;
    flex-direction: column;
    top: 0;
    left: -372px;
    width: 362px;
    height: 100%;
    padding: 80px 10px 40px 10px;
    z-index: 100;

    background-color: $drawer-background-color;
    box-shadow: 10px 0px 20px rgba(0,0,0,0.19), 6px 0px 6px rgba(0,0,0,0.23);

    transition: left 0.3s ease-in-out;
  }

  @media (max-width: $drawer-full-width-breakpoint) {
    width: 100vw;
    left: calc(-100vw - 10px);
  }
}


.links {
  display: flex;
  flex-direction: row;
  align-items: center;
}


#links-left {
  flex-grow: 1;
}

#links-left,
#links-right {
  @media (max-width: $drawer-breakpoint) {
    flex-direction: column;
  }
}


#horizontal-line {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 1px;
  z-index: -1;

  background-color: #777;
}


#expand-button {
  display: none;
  padding: 2px 6px;
  margin: 0 4px;
  border: none;

  background-color: $background-color;
  outline: none;

  font-size: 24px;

  @media (max-width: $drawer-breakpoint) {
    display: block;
    z-index: 110;

    cursor: pointer;
  }
}
