:host {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 18px 0;
  padding: 0 10px;
}

#links-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
}

.links {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#links-left {
  flex-grow: 1;
}

#horizontal-line {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 1px;
  z-index: -1;

  background-color: #777;
}

#expand-menu-button {
  display: none;
  padding: 0 10px;
  border: none;

  background-color: #efefef;
  outline: none;

  font-size: 21px;
}

@media (max-width: 840px) {
  :host,
  #links-container,
  .links {
    flex-direction: column;
    align-items: left;
  }

  #header {
    position: relative;
    width: 100%;
  }

  #links-container {
    width: 100%;
    overflow: hidden;
  }

  #links-left {
    flex-grow: 0;
    margin-top: -200px;

    transition: margin-top 0.5s ease-in-out;
  }

  :host.open #links-left {
    margin-top: 0;
  }

  #expand-menu-button {
    position: absolute;
    display: block;
    top: 0;
    right: 12px;
  }

  .links /deep/ > * {
    padding: 4px;
  }
}
