@import "variables";



:host {
  position: relative;
  display: block;
  box-sizing: content-box;
  width: 100%;

  &:nth-child(even) {
    background-color: $commit-background-color;
  }

  &:nth-child(odd) {
    background-color: $commit-alt-background-color;
  }
}


#message {
  margin: 0;

  overflow: hidden;
}
