@import "variables";
@import "mixins";



:host {
  position: relative;
  display: block;
}


#introduction-section {
  position: relative;


  swm-card-body {
    overflow: hidden;

    transition: height 0.2s ease-in-out;
  }


  .card-content-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 15px;

    &#detail-container {
      @media (max-width: $width-sm) {
        text-align: center;
      }
    }
  }


  #animation-container {
    position: relative;
  }

  #toggle-text-button {
    position: absolute;
    bottom: -10px;
    right: -10px;
    z-index: 1;
  }


  .detail-content {
    font-size: 14pt;
  }

  img.detail-content {
    position: relative;
    display: inline;
    width: 200px;
    height: 200px;
    margin: auto;
    vertical-align: middle;
    border-style: solid;
    border-width: 1px;
    border-color: $border-color;
    border-radius: 50%;

    @media (max-width: $width-md) {
      width: 120px;
      height: 120px;
    }
  }

  #detail-container .detail-content {
    visibility: hidden;
  }

  #detail-container img.detail-content {
    position: absolute;
    right: 0;

    @media (max-width: $width-sm) {
      position: relative;
    }
  }

  #animation-container .detail-content {
    display: none;
    position: absolute;

    word-break: break-all;

    transition:
      top 0.3s ease-in-out,
      left 0.3s ease-in-out,
      text-indent 0.3s ease-in-out,
      height 0.3s ease-in-out;

    &:not(img) {
      width: 100%;
    }
  }


  .primary-image-container {
    text-align: center;
  }


  .primary-image-brace {
    position: relative;
    display: inline;
    vertical-align: middle;
    margin: 0 30px;

    font-style: normal;
    font-size: 100pt;
    font-weight: 100;
    color: #dfe9ed;

    @media (max-width: $width-md) {
      margin: 0 15px;

      font-size: 78pt;
    }

    @media (max-width: $width-xs) {
      display: none;
    }
  }


  #detail-container dt:not(:first-child) {
    margin-top: 32px;
  }
}


#detail-section {
  .detail-cards {
    display: flex;
    flex-direction: row;

    @media (max-width: $width-md) {
      flex-direction: column;
    }
  }


  swm-card-header {
    height: auto;
    padding: 0 60px;

    background: $primary-color;


    h3 { 
      color: #ffffff;
    }


    .material-icons {
      position: absolute;
      left: 18px;
      top: 50%;
      transform: translateY(-50%);
      
      color: #ffffff;
    }
  }

  swm-card-body {
    li {
      display: flex;
      padding: 6px 15px;

      line-height: 24px;

      &:hover::after {
        transform: rotate(90deg);
      }

      &::after {
        @include material-icon("keyboard_arrow_right");

        margin: auto;

        transition: transform 0.25s ease-in-out;

        font-size: 24px;
      }


      p {
        flex: 1;
        margin: 0;
      }
    }
  }
}


.hideable {
  opacity: 1;

  transition:
    opacity 0.5s ease-in-out,
    visibility 0s linear;
}

.hideable.hidden {
  visibility: hidden;
  opacity: 0;

  transition:
    opacity 0.2s ease-in-out,
    visibility 0s linear 0.2s;
}
