<ng-template #nameTemplate><strong #name class="detail-text">Scott</strong></ng-template>
<ng-template #ageTemplate><strong #age class="detail-text">{{ birthDate | yearDiff | expandNumber }}</strong></ng-template>
<ng-template #locationTemplate><strong #location class="detail-text">British Columbia</strong></ng-template>

<button #toggleTextButton id="toggle-text-button" class="fab" (click)="isTextShown = !isTextShown">T</button>

<swm-card>
  <swm-card-body [style.height.px]="height">
    <div #textContainer id="text-container" class="hideable" [class.hidden]="!isTextShown">
      <p>My name is <ng-container *ngTemplateOutlet="nameTemplate"></ng-container>. I'm a <ng-container *ngTemplateOutlet="ageTemplate"></ng-container> year old developer living in <ng-container *ngTemplateOutlet="locationTemplate"></ng-container>.</p>
    </div>

    <div #detailContainer id="detail-container" class="hideable hidden" [class.hidden]="isTextShown">
      <p>name: <ng-container *ngTemplateOutlet="nameTemplate"></ng-container></p>
      <p>age: <ng-container *ngTemplateOutlet="ageTemplate"></ng-container></p>
      <p>location: <ng-container *ngTemplateOutlet="locationTemplate"></ng-container></p>
    </div>

    <div #animationContainer id="animation-container">
      <ng-container *ngTemplateOutlet="nameTemplate"></ng-container>
      <ng-container *ngTemplateOutlet="ageTemplate"></ng-container>
      <ng-container *ngTemplateOutlet="locationTemplate"></ng-container>
    </div>
  </swm-card-body>
</swm-card>
