<ng-template #imageTemplate>
  <picture>
    <source srcset="/assets/portrait/portrait.webp" type="image/webp">
    <source srcset="/assets/portrait/portrait.png" type="image/png"> 
    <img #detailContent class="detail-content" src="/assets/portrait/portrait.png" alt="Portrait">
  </picture>
</ng-template>
<ng-template #nameTemplate><strong #detailContent name="name" class="detail-content">Scott</strong></ng-template>
<ng-template #degreeTemplate><strong #detailContent name="degree" class="detail-content">electrical engineering</strong></ng-template>
<ng-template #ageTemplate><strong #detailContent name="age" class="detail-content">{{ birthDate | yearDiff | expandNumber }}</strong></ng-template>
<ng-template #locationTemplate><strong #detailContent name="location" class="detail-content">British Columbia</strong></ng-template>
<ng-template #project1Template><strong #detailContent name="project1" class="detail-content">Popcorn Enabled</strong></ng-template>
<ng-template #project2Template><strong #detailContent name="project2" class="detail-content">Not So Slim Jim</strong></ng-template>
<ng-template #project3Template><strong #detailContent name="project3" class="detail-content">this website</strong></ng-template>
<ng-template #job1Template><strong #detailContent name="job1" class="detail-content">Agents of Discovery</strong></ng-template>
<ng-template #job2Template><strong #detailContent name="job2" class="detail-content">Nu-Rel</strong></ng-template>
<ng-template #job3Template><strong #detailContent name="job3" class="detail-content">Evident Point</strong></ng-template>
<ng-template #socialMedia1Template><a #detailContent href="https://github.com/swm93" target="_blank" name="socialMedia1" class="detail-content">Github</a></ng-template>
<ng-template #socialMedia2Template><a #detailContent href="https://www.linkedin.com/in/scott-mielcarski" target="_blank" name="socialMedia2" class="detail-content">LinkedIn</a></ng-template>
<ng-template #socialMedia3Template><a #detailContent href="https://www.instagram.com/scottmielcarski" target="_blank" name="socialMedia3" class="detail-content">Instagram</a></ng-template>

<section id="introduction-section" class="section">
  <h2>About Me</h2>

  <button #toggleTextButton id="toggle-text-button" class="fab material-icons" (click)="isTextShown = !isTextShown">cached</button>

  <swm-card class="hover">
    <swm-card-body [style.height.px]="height">
      <swm-background-text></swm-background-text>

      <div #textContainer id="text-container" class="card-content-container hideable" [class.hidden]="!isTextShown">

        <div class="primary-image-container">
          <i class="primary-image-brace">{{ '{' }}</i>
          <ng-container *ngTemplateOutlet="imageTemplate"></ng-container>
          <i class="primary-image-brace">{{ '}' }}</i>
        </div>

        <p>Hi, I'm <ng-container *ngTemplateOutlet="nameTemplate"></ng-container>, a developer, <ng-container *ngTemplateOutlet="degreeTemplate"></ng-container> graduate and hobbyist. I'm <ng-container *ngTemplateOutlet="ageTemplate"></ng-container> years old and currently living just outside of Vancouver in <ng-container *ngTemplateOutlet="locationTemplate"></ng-container>.</p>
        <p>Recently, I've been working on <ng-container *ngTemplateOutlet="project1Template"></ng-container>, a mobile menu and till; <ng-container *ngTemplateOutlet="project2Template"></ng-container>, a 2D game engine written (almost) entirely from scratch ({{ nssjDate | yearDiff | expandNumber }} years and counting!); and <ng-container *ngTemplateOutlet="project3Template"></ng-container>, a place to put the projects I've been working on (and partially just an excuse to play with Angular again).</p>
        <p>Apart from that, I've also worked at <ng-container *ngTemplateOutlet="job1Template"></ng-container> on the Mission Maker, a game authoring tool used by teachers and park owners; <ng-container *ngTemplateOutlet="job2Template"></ng-container> on NuValves, a predictive analytics application that notifies oil and gas companies when a valve will likely fail; and <ng-container *ngTemplateOutlet="job3Template"></ng-container> on ActiveTextbook, a web- and mobile-based textbook (PDF and ePub) annotation and sharing platform.</p>
        <p>I spend my spare time taking pictures, carving, playing guitar, building circuits, and playing video games.</p>
        <p>I'm not very active on social media, but feel free to check out my <ng-container *ngTemplateOutlet="socialMedia1Template"></ng-container>, <ng-container *ngTemplateOutlet="socialMedia2Template"></ng-container> or <ng-container *ngTemplateOutlet="socialMedia3Template"></ng-container> if you want to see what I'm up to.</p>
      </div>

      <div #detailContainer id="detail-container" class="card-content-container hideable hidden" [class.hidden]="isTextShown">
        <ng-container *ngTemplateOutlet="imageTemplate"></ng-container>
        <dl>
          <dt>name</dt>
          <dd><ng-container *ngTemplateOutlet="nameTemplate"></ng-container></dd>
          <dt>age</dt>
          <dd><ng-container *ngTemplateOutlet="ageTemplate"></ng-container></dd>
          <dt>location</dt>
          <dd><ng-container *ngTemplateOutlet="locationTemplate"></ng-container></dd>
          <dt>education</dt>
          <dd><ng-container *ngTemplateOutlet="degreeTemplate"></ng-container></dd>
          <dt>projects</dt>
          <dd><ng-container *ngTemplateOutlet="project1Template"></ng-container></dd>
          <dd><ng-container *ngTemplateOutlet="project2Template"></ng-container></dd>
          <dd><ng-container *ngTemplateOutlet="project3Template"></ng-container></dd>
          <dt>past work</dt>
          <dd><ng-container *ngTemplateOutlet="job1Template"></ng-container></dd>
          <dd><ng-container *ngTemplateOutlet="job2Template"></ng-container></dd>
          <dd><ng-container *ngTemplateOutlet="job3Template"></ng-container></dd>
          <dt>connect</dt>
          <dd><ng-container *ngTemplateOutlet="socialMedia1Template"></ng-container></dd>
          <dd><ng-container *ngTemplateOutlet="socialMedia2Template"></ng-container></dd>
          <dd><ng-container *ngTemplateOutlet="socialMedia3Template"></ng-container></dd>
        </dl>
      </div>

      <div #animationContainer id="animation-container">
        <ng-container *ngTemplateOutlet="imageTemplate"></ng-container>
        <ng-container *ngTemplateOutlet="nameTemplate"></ng-container>
        <ng-container *ngTemplateOutlet="ageTemplate"></ng-container>
        <ng-container *ngTemplateOutlet="locationTemplate"></ng-container>
        <ng-container *ngTemplateOutlet="degreeTemplate"></ng-container>
        <ng-container *ngTemplateOutlet="project1Template"></ng-container>
        <ng-container *ngTemplateOutlet="project2Template"></ng-container>
        <ng-container *ngTemplateOutlet="project3Template"></ng-container>
        <ng-container *ngTemplateOutlet="job1Template"></ng-container>
        <ng-container *ngTemplateOutlet="job2Template"></ng-container>
        <ng-container *ngTemplateOutlet="job3Template"></ng-container>
        <ng-container *ngTemplateOutlet="socialMedia1Template"></ng-container>
        <ng-container *ngTemplateOutlet="socialMedia2Template"></ng-container>
        <ng-container *ngTemplateOutlet="socialMedia3Template"></ng-container>
      </div>
    </swm-card-body>
  </swm-card>
</section>

<section id="interests-section" class="section">
  <h2>Interests</h2>

  <div class="interests-cards">
    <swm-card class="hover">
      <swm-card-header>
        <i class="material-icons">code</i>
        <h3>Languages</h3>
      </swm-card-header>
      <swm-card-body>
        <ul>
          <li>
            <p>C++</p>
          </li>
          <li>
            <p>JavaScript</p>
          </li>
          <li>
            <p>HTML</p>
          </li>
          <li>
            <p>CSS</p>
          </li>
          <li>
            <p>Ruby</p>
          </li>
          <li>
            <p>C#</p>
          </li>
          <li>
            <p>Swift</p>
          </li>
          <li>
            <p>Python</p>
          </li>
          <li>
            <p>Objective-C</p>
          </li>
        </ul>
      </swm-card-body>
    </swm-card>

    <swm-card class="hover">
      <swm-card-header>
        <i class="material-icons">build</i>
        <h3>Tools</h3>
      </swm-card-header>
      <swm-card-body>
        <ul>
          <li>
            <p>Vim</p>
          </li>
          <li>
            <p>Git</p>
          </li>
          <li>
            <p>Visual Studio</p>
          </li>
          <li>
            <p>XCode</p>
          </li>
          <li>
            <p>Photoshop</p>
          </li>
          <li>
            <p>AWS</p>
          </li>
          <li>
            <p>Jira</p>
          </li>
          <li>
            <p>GitHub</p>
          </li>
          <li>
            <p>SourceTree</p>
          </li>
          <li>
            <p>BitBucket</p>
          </li>
        </ul>
      </swm-card-body>
    </swm-card>

    <swm-card class="hover">
      <swm-card-header>
        <i class="material-icons">stars</i>
        <h3>Hobbies</h3>
      </swm-card-header>
      <swm-card-body>
        <ul>
          <li>
            <p>Photography</p>
          </li>
          <li>
            <p>Guitar</p>
          </li>
          <li>
            <p>Woodworking/Carving</p>
          </li>
          <li>
            <p>Electronics</p>
          </li>
          <li>
            <p>Hiking</p>
          </li>
          <li>
            <p>Reading</p>
          </li>
        </ul>
      </swm-card-body>
    </swm-card>
  </div>
</section>
