@import "variables";



:host {
  position: relative;
  display: block;
}


swm-card-body {
  overflow: hidden;

  transition: height 0.2s ease-in-out;
}


.card-content-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 15px;
}

#animation-container {
  position: relative;
}

#toggle-text-button {
  position: absolute;
  bottom: -10px;
  right: -10px;
  z-index: 1;
}


.detail-content {
  font-size: 14pt;
}

img.detail-content {
  position: relative;
  display: block;
  width: 200px;
  height: 200px;
  margin: auto;
  border-style: solid;
  border-width: 1px;
  border-color: $border-color;
  border-radius: 50%;

  @media(max-width: 599px) {
    width: 120px;
    height: 120px;
  }
}

#detail-container .detail-content {
  visibility: hidden;
}

#detail-container img.detail-content {
  position: absolute;
  right: 0;

  @media(max-width: 599px) {
    position: relative;
  }
}

#animation-container .detail-content {
  display: none;
  position: absolute;

  word-break: break-all;

  transition:
    top 0.3s ease-in-out,
    left 0.3s ease-in-out,
    text-indent 0.3s ease-in-out,
    height 0.3s ease-in-out;

  &:not(img) {
    width: 100%;
  }
}


#detail-container dt:not(:first-child) {
  margin-top: 32px;
}


.hideable {
  opacity: 1;

  transition:
    opacity 0.5s ease-in-out,
    visibility 0s linear;
}

.hideable.hidden {
  visibility: hidden;
  opacity: 0;

  transition:
    opacity 0.2s ease-in-out,
    visibility 0s linear 0.2s;
}
